<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	
</head>
<body class="container">

	<main>
		<div class="row" id="search-tags">
			<div class="col-md-12">
				<div class="form-group has-success has-feedback">
				  <div class="input-group">
				    <span class="input-group-addon">#</span>
				    <input type="text" placeholder="Busque uma hashtag e acompanhe em tempo real" class="form-control" id="inputHashtag" aria-describedby="inputGroupSuccess1Status">
				  </div>
				</div>
			</div>
		</div>
		
		<hr>
		<div class="row" id="medias">
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="/js/app.js"></script>
</body>
</html>